extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas#game(width=640, height=480) Your browser is old. Update.
  p
    button#start Start
  p#timer Timer: 
    span#seconds 0.000
    |  seconds
  p#stats
  p#message
