doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='http://code.createjs.com/easeljs-0.5.0.min.js')
    script(src='/javascripts/target.js')
    script(src='/javascripts/game.js')
    script(src='/javascripts/client.js')
