doctype 5
html
  head
    title HCI Project
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      //
        .masthead
          h3.muted hci-project
          .navbar
            .navbar-inner
              .container
                ul.nav
                  li(class=(page === 'home' ? 'active' : ''))
                    a(id='home-link', href='/') Home
                  li(class=(page === 'game' ? 'active' : ''))
                    a(id='game-link', href='/game') Game
                  li(class=(page === 'scores' ? 'active' : ''))
                    a(id='score-link', href='/scores') High Scores
                  li(class=(page === 'about' ? 'active' : ''))
                    a(id='about-link', href='/about') About
      #main
        block content
    if process.env.NODE_ENV === 'production'
      script(data-main='javascripts/index', src='/javascripts/require.js')
    else
      script(data-main='javascripts/main', src='/javascripts/require.js')
