doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(data-main='javascripts/main', src='http://requirejs.org/docs/release/2.1.4/minified/require.js')
