body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
	border: 1px solid #000;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
